.total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;

}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
.emptyCart{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px 10px;
}